<a href="https://colab.research.google.com/github/Dishankjoshi009/ppt1/blob/main/ASSINGMENT%209.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Given an integer¬†`n`, return¬†*`true`¬†if it is a power of two. Otherwise, return¬†`false`*.

An integer¬†`n`¬†is a power of two, if there exists an integer¬†`x`¬†such that¬†`n == 2x`.

**Example 1:**
Input: n = 1

Output: true

**Example 2:**
Input: n = 16

Output: true

**Example 3:**
Input: n = 3

Output: false

In [1]:
def is_power_of_two(n):
    if n <= 0:
        return False
    return n & (n - 1) == 0

# Test Example 1
print(is_power_of_two(1))  # Output: True

# Test Example 2
print(is_power_of_two(16))  # Output: True

# Test Example 3
print(is_power_of_two(3))  # Output: False

True
True
False

<aside>
üí° **Question 2**

Given a number n, find the sum of the first natural numbers.

**Example 1:**

Input: n = 3

Output: 6

**Example 2:**

Input  : 5

Output : 15

</aside>

In [2]:
def sum_of_first_natural_numbers(n):
    return (n * (n + 1)) // 2

# Test Example 1
print(sum_of_first_natural_numbers(3))  # Output: 6

# Test Example 2
print(sum_of_first_natural_numbers(5))  # Output: 15

6
15

<aside>
üí° **Question 3**

****Given a positive integer, N. Find the factorial of N.

**Example 1:**

Input: N = 5

Output: 120

**Example 2:**

Input: N = 4

Output: 24

</aside>

In [3]:
def factorial(N):
    factorial = 1

    for i in range(1, N + 1):
        factorial *= i

    return factorial

# Test Example 1
print(factorial(5))  # Output: 120

# Test Example 2
print(factorial(4))  # Output: 24

120
24

<aside>
üí° **Question 4**

Given a number N and a power P, the task is to find the exponent of this number raised to the given power, i.e. N^P.

**Example 1 :**

Input: N = 5, P = 2

Output: 25

**Example 2 :**
Input: N = 2, P = 5

Output: 32

</aside>

In [4]:
def find_exponent(N, P):
    return pow(N, P)

# Test Example 1
print(find_exponent(5, 2))  # Output: 25

# Test Example 2
print(find_exponent(2, 5))  # Output: 32

25
32

<aside>
üí° **Question 5**

Given an array of integers¬†**arr**, the task is to find maximum element of that array using recursion.

**Example 1:**

Input: arr = {1, 4, 3, -5, -4, 8, 6};
Output: 8

**Example 2:**

Input: arr = {1, 4, 45, 6, 10, -8};
Output: 45

</aside>

In [5]:
def find_max_recursive(arr, start, end):
    if start == end:
        return arr[start]

    mid = (start + end) // 2
    left_max = find_max_recursive(arr, start, mid)
    right_max = find_max_recursive(arr, mid + 1, end)

    return max(left_max, right_max)

def find_max(arr):
    return find_max_recursive(arr, 0, len(arr) - 1)

# Test Example 1
arr1 = [1, 4, 3, -5, -4, 8, 6]
print(find_max(arr1))  # Output: 8

# Test Example 2
arr2 = [1, 4, 45, 6, 10, -8]
print(find_max(arr2))  # Output: 45

8
45

<aside>
üí° **Question 6**

Given first term (a), common difference (d) and a integer N of the Arithmetic Progression series, the task is to find Nth term of the series.

**Example 1:**

Input : a = 2 d = 1 N = 5
Output : 6
The 5th term of the series is : 6

**Example 2:**

Input : a = 5 d = 2 N = 10
Output : 23
The 10th term of the series is : 23

</aside>

In [6]:
def find_nth_term_of_ap(a, d, N):
    return a + (N - 1) * d

# Test Example 1
a1, d1, N1 = 2, 1, 5
print(find_nth_term_of_ap(a1, d1, N1))  # Output: 6

# Test Example 2
a2, d2, N2 = 5, 2, 10
print(find_nth_term_of_ap(a2, d2, N2))  # Output: 23

6
23

<aside>
üí° **Question 7**

Given a string S, the task is to write a program to print all permutations of a given string.

**Example 1:**

***Input:***

*S = ‚ÄúABC‚Äù*

***Output:***

*‚ÄúABC‚Äù, ‚ÄúACB‚Äù, ‚ÄúBAC‚Äù, ‚ÄúBCA‚Äù, ‚ÄúCBA‚Äù, ‚ÄúCAB‚Äù*

**Example 2:**

***Input:***

*S = ‚ÄúXY‚Äù*

***Output:***

*‚ÄúXY‚Äù, ‚ÄúYX‚Äù*

</aside>

In [7]:
def permute(S):
    def permute_helper(prefix, remaining, result):
        if not remaining:
            result.append(prefix)
            return

        for i in range(len(remaining)):
            permute_helper(
                prefix + remaining[i],
                remaining[:i] + remaining[i+1:],
                result
            )

    permutations = []
    permute_helper("", S, permutations)
    return permutations

# Test Example 1
S1 = "ABC"
print(permute(S1))  # Output: ['ABC', 'ACB', 'BAC', 'BCA', 'CAB', 'CBA']

# Test Example 2
S2 = "XY"
print(permute(S2))  # Output: ['XY', 'YX']

['ABC', 'ACB', 'BAC', 'BCA', 'CAB', 'CBA']
['XY', 'YX']

<aside>
üí° **Question 8**

Given an array, find a product of all array elements.

**Example 1:**

Input  : arr[] = {1, 2, 3, 4, 5}
Output : 120
**Example 2:**

Input  : arr[] = {1, 6, 3}
Output : 18

</aside>

In [8]:
def product_of_array_elements(arr):
    product = 1

    for num in arr:
        product *= num

    return product

# Test Example 1
arr1 = [1, 2, 3, 4, 5]
print(product_of_array_elements(arr1))  # Output: 120

# Test Example 2
arr2 = [1, 6, 3]
print(product_of_array_elements(arr2))  # Output: 18

120
18